.YouTubeDetails-Header-container {
  position: fixed;
  margin-top: -100px;
}

.YouTubeDetails-container {
  background-color: #0f0f0f;
  width: 1023px;
  min-height: 83vh;
  margin-top: 100px;
  margin-left: 240px;
  margin-bottom: -30px;
}
